@charset "ISO-8859-1";

html{
	background-image: url("../IMAGES/fond.png");
	height: 100%;
}

body{
	background-size: cover;
	min-height: 100%;
	height: 100%;
	top: 0%; left: 0%; right :0%;
  	margin: 0;
  	padding: 0;
  	position: absolute;
  	background: rgba(255, 255, 255, 0.5);
}

h1{
	color: #0D4012;
	font-size: 150px;
	font-family: Century Gothic;
	text-align: center;
}

p{
	text-align: center;
}

.paraInfos{
	color: #0D4012;
	font-size: 18px;
	font-family: Century Gothic;
	padding: 10px; 
	background-color: white;
	margin-top: 2%;
	margin-right: 5%;
	margin-left: 5%;
	border-radius: 20%;
}

img{
	width: 100px;
	height: 50px;
}

a{
	color: #0D4012;
	font-size: 20px;
	font-family: Century Gothic;
	font-weight: bold;
	text-decoration: none;
}

footer{
	background-color: #0D4012;
	padding-top: 4%;
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0;
}

footer>a{
	font-family: Century Gothic;
	font-size: 30px;
	color: white;
	text-decoration: none;
	position: absolute;
	top: 30%;
	left: 44%;
}