@charset "ISO-8859-1";

html{
	background-image: url("../IMAGES/fond.png");
	height: 100%;
}

body{
	background-size: cover;
	min-height: 100%;
	height: 100%;
	top: 0%; left: 0%; right :0%;
  	margin: 0;
  	padding: 0;
  	position: absolute;
  	background: rgba(255, 255, 255, 0.5);
}

h1{
	color: #0D4012;
	font-size: 150px;
	font-family: Century Gothic;
	text-align: center;
}

div{
	position: absolute;
}

#divUn{
	top: 35%;
	left: 22%;
}

#divDeux{
	top: 34%;
	left: 53%;
}

#divTrois{
	top: 60%;
	left: 38%;
}

input{
	background-color: #1D6524;
	border: 2px solid black;
	color: white;
	margin-top: 10%;
	font-family: Century Gothic;
	font-size: 30px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	border-radius: 20%;
  	cursor: pointer;
}

footer{
	background-color: #0D4012;
	padding-top: 4%;
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0
}

footer>a{
	font-family: Century Gothic;
	font-size: 30px;
	color: white;
	text-decoration: none;
	position: absolute;
	top: 30%;
	left: 42%;
}