@charset "ISO-8859-1";

html{
	background-image: url("../IMAGES/fond.png");
	height: 100%;
}

body{
	background-size: cover;
	min-height: 100%;
	height: 100%;
	top: 0%; left: 0%; right :0%;
  	margin: 0;
  	padding: 0;
  	position: absolute;
  	background: rgba(255, 255, 255, 0.5);
}

h1{
	color: #0D4012;
	font-size: 150px;
	font-family: Century Gothic;
	text-align: center;
}

div{
	text-align: center;
}

input{
	font-family: Century Gothic;
	font-size: 30px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 4%;
	padding-right: 4%;
	text-align: center;
}

.boutons{
	border-radius: 20%;
}

.boutons:hover {
  	cursor: pointer;
}

#boutonTitre{
	background-color: #1D6524;
	border: 2px solid black;
	color: white;
	margin-right: 1%;
}

#boutonLvl{
	background-color: white;
	border: 2px solid #1D6524;
	color: #1D6524;
	margin-top: 5%;
	margin-left: 1%;
}

footer{
	background-color: #0D4012;
	padding-top: 4%;
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0
}

footer>a{
	font-family: Century Gothic;
	font-size: 30px;
	color: white;
	text-decoration: none;
	position: absolute;
	top: 30%;
	left: 44%;
}